<md-bottom-sheet class="md-list">
  <md-list>
    <md-list-item  style="height:100px">

      <md-button class="md-list-item-content" style="height:80px">
        <md-icon><i  style="font-size:40px" class="material-icons">home</i></md-icon>
         <span class="md-inline-list-icon-label">Home</span>
      </md-button>

    </md-list-item>
    <md-list-item>

      <md-button class="md-list-item-content" >
        <md-icon><i  style="font-size:40px" class="material-icons">more_vert</i></md-icon>
         <span class="md-inline-list-icon-label">Home</span>
      </md-button>

    </md-list-item>
    <md-list-item>

      <md-button class="md-list-item-content" >
        <md-icon><i  style="font-size:40px" class="material-icons">more_vert</i></md-icon>
         <span class="md-inline-list-icon-label">Home</span>
      </md-button>

    </md-list-item>
    <md-list-item>

      <md-button class="md-list-item-content" >
        <md-icon><i  style="font-size:40px" class="material-icons">more_vert</i></md-icon>
         <span class="md-inline-list-icon-label">Home</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>
