<md-bottom-sheet class="mobile_menu md-list">
  <md-list>
    <md-list-item  style="height:100px">

      <md-button class="md-list-item-content">
        <md-icon><i  style="font-size:40px" class="material-icons"></i></md-icon>
         <span class="md-inline-list-icon-label">Home</span>
      </md-button>

    </md-list-item>
    <md-list-item>

      <md-button class="md-list-item-content" >
        <md-icon><i  style="font-size:40px" class="material-icons"></i></md-icon>
         <span class="md-inline-list-icon-label">Program</span>
      </md-button>

    </md-list-item>
    <md-list-item>

      <md-button class="md-list-item-content" >
        <md-icon><i  style="font-size:40px" class="material-icons"></i></md-icon>
         <span class="md-inline-list-icon-label">Rates</span>
      </md-button>

    </md-list-item>
    <md-list-item>

      <md-button class="md-list-item-content" >
        <md-icon><i  style="font-size:40px" class="material-icons"></i></md-icon>
         <span class="md-inline-list-icon-label">About Us</span>
      </md-button>

    </md-list-item>
    <md-list-item>

      <md-button class="md-list-item-content" >
        <md-icon><i  style="font-size:40px" class="material-icons"></i></md-icon>
         <span class="md-inline-list-icon-label">Contact</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>
