<div class="lys_header"  ng-class="{sticky:boolChangeClass}">
<div class="inner_header">

<img class="logo" src="https://loseyourselfinguatemala.com/API/Open/Media/Images/Logos/Logo_Main.png" />
<div hide-gt-sm flex layout="column" layout-align="center end">

<md-button ng-click="showListBottomSheet()" class="md-icon-button" aria-label="Comment" style="height:50px;width:50px;text-align:center">
        <md-icon><i  style="font-size:40px" class="material-icons">more_vert</i></md-icon>
    </md-button>
  </div>
      <md-nav-bar hide show-gt-sm
           md-selected-nav-item="currentNavItem"
           nav-bar-aria-label="navigation links">

           <md-nav-item md-nav-click="goto('page1')" name="page1">
             Home
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page2')" name="page2">
             Program
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page3')" name="page3">
             Rates
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page3')" name="page3">
             About Us
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page3')" name="page3">
             Contact
           </md-nav-item>

         </md-nav-bar>
</div>
</div>
<div class="social_bar" ng-class="{sticky:boolChangeClass}">

</div>
