<div class="header">
<div class="lys_header">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img class="logo" src="https://loseyourselfinguatemala.com/API/Open/Media/Images/Logos/Logo_Main.png" />
      <div class="title">
        Admin
      </div></a>
      <ul id="nav-mobile" class="right">
        <li><a data-activates="slide-out" data-sidenav="left" data-menuwidth="220" data-closeonclick="false"><i class="medium material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<ul id="slide-out" class="side-nav">
  <div class="lys_header_nav">
    <img class="logo" src="https://loseyourselfinguatemala.com/API/Open/Media/Images/Logos/Logo_Main.png" />
  </div>
  <div class="collection">
      <a href="#!" class="collection-item"><span class="center both">Bookings</span></a>
      <a href="#!" class="collection-item active"><span class="center both">Packages</span></a>
      <a href="#!" class="collection-item"><span class="center both">Dates</span></a>
    </div>

  </ul>
</div>
