<div class="inner_header">

<img class="logo" src="https://loseyourselfinguatemala.com/API/Open/Media/Images/Logos/Logo_Main.png" />


      <md-nav-bar
           md-selected-nav-item="currentNavItem"
           nav-bar-aria-label="navigation links">

           <md-nav-item md-nav-click="goto('page1')" name="page1">
             Home
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page2')" name="page2">
             Program
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page3')" name="page3">
             Rates
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page3')" name="page3">
             About Us
           </md-nav-item>
           <md-nav-item md-nav-click="goto('page3')" name="page3">
             Contact
           </md-nav-item>

         </md-nav-bar>
</div>
